<figure class="figure">
  <img src="http://placehold.it/820x320" class="figure-img img-fluid rounded">
  <figcaption class="figure-caption">
    <h4>Title: {{product.title}}</h4>
    <h5>Price: {{product.price | currency}}</h5>
    <h5> Description: {{product.description}}</h5>
    <h5>Categories:
      <ul>
        <li *ngFor="let category of product.categories">
          {{category}}
        </li>
      </ul>
    </h5>

    <div class="ratings">
      <p>
        <app-stars [rating]="product.rating"></app-stars>
      </p>
    </div>

  </figcaption>
</figure>