<div id="mySidenav" class="sidenav">
  <div>
    <a href="javascript:void(0)" class="closebtn closeNav">&times;</a>
  </div>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
    <app-navbar></app-navbar>

  <p style="color: red"><strong> NOT FOR PRODUCTION</strong></p>
  <span class="openNav" style="font-size:30px;cursor:pointer">&#9776; open</span>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <app-search></app-search>
      </div>

      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>