<div id="mySidenav" class="sidenav">
  <div>
    <a href="javascript:void(0)" class="closebtn closeNav">&times;</a>
  </div>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <h2>{{title}}</h2>
  <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
  <span class="openNav" style="font-size:30px;cursor:pointer">&#9776; open</span>

  <router-outlet></router-outlet>

</div>

